---
import Sidebar from "@components/Sidebar.astro";
---

<html>
	<head>
		<title>Mo Baydoun</title>
		<meta charset="utf-8" />
		<meta name="author" content="Mo Baydoun" />
		<meta
			name="description"
			content="A personal website for Mo Baydoun, a software engineer."
		/>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
	</head>
	<body>
		<Sidebar>
			<slot />
		</Sidebar>
	</body>
</html>
